body {
    background-color: rgba(88,82,65,0.1);
}
.main {
  font-family: sans-serif;
  text-transform: capitalize;
  color: blue;
}

#inputURL{
  margin-bottom: 10px;
  width: 300px;
}
td {
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 13px;
}

th {
  text-align:left;
  font-family: sans-serif;
  font-weight: normal;
}

table{
  background-color: rgba(88,82,65,0.2);
  padding-left: 2px;
  size: 100%;
}

.artist{
  background-color: rgba(88,82,65,0.4);
  padding-left: 2px;
}

.title{
  background-color: rgba(88,82,65,0.2);
}
